---
layout: default
title: Portfolio
permalink: /portfolio.html
---

     <div class="title_gallery">SOLO WORKS</div>
    <div class="gallery gallery_works">
  {% assign sorted_solo = site.works | where: "category", "soloworks" | sort: "date" | reverse %}
  {% for work in sorted_solo %}
    <a href="{{ work.url }}" class="gallery-item">
      <img src="{{ work.image }}" alt="{{ work.title }}" loading="lazy">
      <div class="overlay">{{ work.title }}</div>
    </a>
{% endfor %}
  </div>
  <br><br>
  <div class="title_gallery">MUSIC FOR THEATER, DANCE AND PERFORMANCE</div>

  <div class="gallery gallery_works">
{% assign sorted_theater = site.theater | sort: 'date' | reverse %}
{% for work in sorted_theater %}
    <a href="{{ work.url }}" class="gallery-item">
      <img src="{{ work.image }}" alt="{{ work.title }}" loading="lazy">
      <div class="overlay">{{ work.title }}</div>
    </a>
{% endfor %}
  </div>
  <br> <br>
<div class="title_gallery">ONGOING PROJECTS</div>


     <div class="gallery gallery_works">
       <a href="https://linktr.ee/prixgaranti" class="gallery-item">
         <img src="/assets/images/works/galleryicons/ongoingprojects/prixgaranti.webp" alt="Image 1" loading="lazy">
         <div class="overlay">PRIX GARANTI</div>
       </a>
       <a href="/ongoing/RT60/" class="gallery-item">
         <img src="/assets/images/works/galleryicons/ongoingprojects/rt60.jpg" alt="Image 2" loading="lazy">
         <div class="overlay">RT60</div>
        </a> 
      <a href="https://crttr.ch/" class="gallery-item">
          <img src="/assets/images/works/galleryicons/ongoingprojects/crttr.jpg" alt="Image 1" loading="lazy">
          <div class="overlay">CRTTR</div> 
        </a> 
        <!-- </a> <a href="https://soundcloud.com/radar-radio-793120527" class="gallery-item">
          <img src="/assets/images/works/galleryicons/ongoingprojects/radar.webp" alt="Image 2" loading="lazy">
          <div class="overlay">RADAR</div>
        </a></div> -->
  </div>
  
  <br><br><br>

<div class="title_gallery">  OTHER</div>
  
  <div class="gallery gallery_works">
    <a href="https://www.radialsystem.de/de/veranstaltungen/terminal-infinity/" class="gallery-item">
      <img src="/assets/images/works/galleryicons/other/terminalinfinity.jpg" alt="Image 1" loading="lazy">
      <div class="overlay">terminal infinity (2025)</div>
    </a>
    <a href="/other/knauled/" class="gallery-item">
      <img src="/assets/images/works/galleryicons/other/knäuled.jpg" alt="Image 1" loading="lazy">
      <div class="overlay">knäuled (2025)</div>
    </a>
    <a href="http://alexanderschubert.net/works/Asterism.php" class="gallery-item">
      <img src="/assets/images/works/galleryicons/other/asterism.jpg" alt="Image 1" loading="lazy">
      <div class="overlay">asterism (2022)</div>
    </a>
    
    
  </div>