<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap">
</head>

<header class="navbar">
  <h1 class="logo">CANDID RÜTTER</h1>
  <nav id="nav">
    <ul class="nav-links">
      <li><a href="/about.html" data-page="about">about</a></li> 
      <li><a href="/portfolio.html" data-page="portfolio">portfolio</a></li> 
      <li><a href="/releases.html" data-page="releases">releases</a></li> 
      <li><a href="/freelancing.html" data-page="freelancing">freelancing</a></li> 
      <li><a href="/dates.html" data-page="dates">dates</a></li>
    </ul>
  </nav>
</header>
